<?xml version="1.0"?>
<Scripts>
  <Script>
    <Path>D:\Github\ADSO-Inventory-Collector\ParseInventory.ps1</Path>
    <Parameters>
      <Parameter Name="fileSharePath" Value="\\Server\ServerInventory"/>
      <Parameter Name="extractPath" Value="D:\Github\Inventory-Collector\InventoryTemp"/>
      <Parameter Name="aggregateOutputPath" Value="D:\Github\Inventory-Collector\InventoryOutput"/>
    </Parameters>
  </Script>
  <Script>
    <Path>D:\Github\ADSO-Inventory-Collector\CreateSQLTableFromJSON.ps1</Path>
    <Parameters>
      <Parameter Name="SqlServer" Value="sql01.domain.com"/>
      <Parameter Name="Database" Value="ServerInventory"/>
      <Parameter Name="JsonFilesPath" Value="D:\Github\Inventory-Collector\InventoryOutput"/>
    </Parameters>
  </Script>
  <Script>
    <Path>D:\Github\ADSO-Inventory-Collector\UpdateSQLTableFromJSON.ps1</Path>
    <Parameters>
      <Parameter Name="SqlServer" Value="sql01.domain.com"/>
      <Parameter Name="Database" Value="ServerInventory"/>
      <Parameter Name="JsonFilesPath" Value="D:\Github\Inventory-Collector\InventoryOutput"/>
      <Parameter Name="logFilePath" Value="D:\Logs\InventorySQLlog.log"/>      
    </Parameters>
  </Script>
  <Script>
    <Path>D:\Github\ADSO-Inventory-Collector\Remove-ZipFiles.ps1</Path>
    <Parameters>
      <Parameter Name="FolderPath" Value="\\Server\ServerInventory"/>
    </Parameters>
  </Script>
</Scripts>